.anchor-restore {
  font-family: 'SF Pro Text';
  font-size: 0.813rem;
  letter-spacing: -0.014rem;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

.title {
  font-family: 'SF Pro Display';
  font-size: 2.25rem;
  line-height: 2.625rem;
  text-align: center;
  color: $color-white;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);

  &:lang(es) {
    font-size: 1.87rem;
  }

  &:lang(fr) {
    font-size: 1.46rem;
  }

  &:lang(nl) {
    font-size: 1.89rem;
  }

  &:lang(ru) {
    font-size: 1.5rem;
  }
}

.content-title {
  font-family: 'SF Pro Text';
  font-size: 1.063rem;
  line-height: 1.875rem;
  letter-spacing: -0.02rem;
  color: $color-white;
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.684495);

  &:lang(es) {
    font-size: 0.78rem;
  }

  &:lang(fr) {
    font-size: 0.77rem;
  }

  &:lang(nl) {
    font-size: 0.8rem;
  }

  &:lang(ru) {
    font-size: 0.75rem;
  }
}

.section-title {
  font-family: 'SF Pro Display';
  font-size: 1.063rem;
  line-height: 1.25rem;
  color: $color-white;

  &:lang(fr) {
    font-size: 0.85rem;
  }

  &_active {
    font-size: 1.169rem;
    line-height: 1.375rem;

    &:lang(fr) {
      font-size: 0.9rem;
    }
  }
}

.sale-badge {
  font-family: 'SF Pro Display';
  font-size: 0.625rem;
  line-height: 0.75rem;
  color: $color-white;

  &_active {
    font-size: 0.75rem;
    line-height: 0.875rem;
  }
}

.section-subscribe-price {
  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 0.938rem;
  color: $color-white;

  strong {
    font-weight: 700;
    font-size: 1.375rem;
  }

  &_active {
    font-size: 0.963rem;
    strong {
      font-size: 1.5rem;
    }
  }
}

.section-sale-feature-text {
  font-family: 'SF Pro Display';
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.875rem;
  line-height: 1rem;
  color: $color-white;

  &:lang(fr) {
    font-size: 0.8rem;
  }

  &:lang(ru) {
    font-size: 0.8rem;
  }

  &_active {
    font-size: 0.963rem;
    line-height: 1.125rem;

    &:lang(fr) {
      font-size: 0.9rem;
    }

    &:lang(ru) {
      font-size: 0.9rem;
    }
  }
}

.section-cost {
  font-family: 'SF Pro Display';
  color: $color-white;
  font-size: 0.75rem;
  line-height: 0.875rem;

  &_active {
    font-size: 0.825rem;
    line-height: 0.938rem;
  }
}

.button {
  font-family: 'SF Pro Display';
  font-size: 1.063rem;
  line-height: 1.063rem;
  text-align: center;
  text-decoration: none;
  color: $color-white;
}

.auto-renewable {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 0.688rem;
  line-height: 0.813rem;
  text-align: center;
  mix-blend-mode: normal;
  opacity: 0.5;
  color: $color-white;
}

.anchor-footer {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 0.688rem;
  line-height: 0.813rem;
  text-decoration-line: underline;
  color: $color-anchor-footer;
}
