.anchor-restore {
  font-family: 'SF Pro Text';
  font-size: 13px;
  letter-spacing: -0.21666669845581055px;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

.title {
  font-family: 'SF Pro Display';
  text-align: center;
  color: #ffffff;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
  font-size: 36px;
  line-height: 42px;
}
