@import 'normalize.css';
@import './base/fonts';
@import './base/typography';
@import './abstracts/variables';
@import './abstracts/mixins';
@import './components/anchors';
@import './layout/header';
@import './components/title';
@import './components/content';

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;

  @include for-device(map-get($iphone, SE-8)) {
    @include set-bg-image($x1-bg-img);
  }

  @include for-device(map-get($iphone, 8plus)) {
    @include set-bg-image($x2-bg-img);
  }

  @include for-device(map-get($iphone, X-11pro)) {
    @include set-bg-image($x3-bg-img);
  }

  @include for-device(map-get($iphone, 14)) {
    @include set-bg-image($x3-bg-img);
  }
}
