.anchor-cancel {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
}

.anchor-restore {
  font-family: 'SF Pro Text';
  font-size: 13px;
  width: 46px;
  height: 15px;
  letter-spacing: -0.21666669845581055px;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}
