.content-container {
  width: 208.5px;
  height: 91.45px;
  margin-left: 11px;
  margin-top: 29px;
}

.content-wrapper {
  display: flex;
  align-items: center;
  gap: 6px;
}

.icon-wrapper {
  @include center-inside-elem-flex();
  width: 26px;
}

/*
.content-title__unlim-docs {
}
.content-title__ocr {
}
.content-title__export {
}
*/
