.title {
  width: 286px;
  height: 86px;
  margin-top: 153px;
  margin-bottom: 0px;
  animation: append-animate 0.3s linear;

  @include for-device(map-get($iphone, SE-8)) {
    height: 76px;
    margin-top: 140px;
  }

  @include for-device(map-get($iphone, 8plus)) {
    margin-top: 163px;
    height: 76px;
  }

  @include for-device(map-get($iphone, 14)) {
    margin-top: calc(153px * 1.04);
  }
}
