.footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 324px;
  margin-top: 16px;
  animation: append-animate 0.3s linear;

  @include for-device(map-get($iphone, SE-8)) {
    margin-top: 10px;
  }

  @include for-device(map-get($iphone, 14)) {
    margin-top: calc(16px * 1.04);
  }
}
